body {
    background-color: #181818;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #282828;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.stats {
    display: flex;
    gap: 9px;
	padding-left: 10%;
}

.click-zone {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
	width: 100%; 
    height: 250px; 
}

#click-button {
    background-image: url('sticker.png');
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 150%;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

#click-button:hover {
    background-color: #3e8e41;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu button:hover {
    background-color: #555;
}